<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 m-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 6464</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 5454</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 5353</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 6767</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 6778</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 7893</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 9393</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 9354</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 9989</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Id: 8954</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>